[submodule "external/Taga-VLM"]
	path = external/Taga-VLM
	url = https://github.com/APEX-BJUT/Taga-VLM.git
[submodule "external/NAV_vlm"]
	path = external/NAV_vlm
	url = https://github.com/zjuer-dm/NAV_vlm.git
[submodule "external/ActiveVLN"]
	path = external/ActiveVLN
	url = https://github.com/arvillion/ActiveVLN.git
[submodule "external/ETP-R1"]
	path = external/ETP-R1
	url = https://github.com/Cepillar/ETP-R1.git
